<footer id="footer">

    <div style="text-align:center; background:lightgreen; width: 90%; margin: auto; padding:10px; justify-content: center;line-height: 50px; height: 8vh; clear: both;
    position: relative;
    height: 80px;

    ">
        <p style="color:white; font-size: 20px; font-family: raleway">&copy; &nbsp;MBožinović. All rights reserved.</p>
    </div>
</footer>