<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="/js/kalkulator.js"></script>

<link href="https://fonts.googleapis.com/css?family=Poppins:400,500&display=swap" rel="stylesheet" />
<link rel="stylesheet" href="/css/style.css" type="text/css">
<header style="background:lightgreen; padding-left: 10px; padding-right: 10px;">

    <div class="logo-container">
        <img src="/images/logo.png" alt="logo">
        </img>
        <h3 class="logo-text">Kalorijski dnevnik</h3>
    </div>

    <nav>
        <div>
            <ul class="nav-links">
                <li><a href="/namirnice" class="nav-link">Namirnice</a></li>
                <li><a href="/dnevnik" class="nav-link">Dnevnik</a></li>
                <li><a href="/kalkulator" class="nav-link">Kalkulator</a></li>
            </ul>

        </div>
    </nav>

</header>