<!DOCTYPE html>
<html>

<head>
    <title>Kalorijski dnevnik</title>
    <script src="jquery-3.4.1.min.js"></script>
    <link rel="stylesheet" href="/css/style.css" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,500&display=swap" rel="stylesheet" />
</head>

<body>
    <%- include('partials/navbar') %>
        <H1>PROBVA </H1>

        <%- include('partials/fotter.ejs') %>
</body>

</html>