* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

header {
    display: flex;
    margin: auto;
    width: 90%;
    height: 10vh;
    align-items: center;
}


/* ---------- GLAVNA STRANA ---------- */

.logo-container,
.nav-links,
.login {
    display: flex;
}


/* ---------- navbar ---------- */


/* Logo img i Ime */

.navbar-a {
    text-decoration: none;
    color: inherit
}

.logo-container {
    flex: 1;
}

.logo-container>img {
    height: 7vh;
}

.logo-text {
    font-weight: 400;
    margin: 20px;
    text-align: center;
    vertical-align: middle;
}


/* linkovi */

nav {
    flex: 3;
    text-align: center;
}

.nav-links {
    justify-content: space-around;
    list-style: none;
}

.nav-link {
    text-decoration: none;
    color: #464444;
    font-size: 20px;
}


/* login dugme */

.login {
    flex: 1;
    justify-content: flex-end;
}

p {
    margin-left: 20%;
    margin-right: 20%;
}

a {
    text-decoration: none;
}


/* navbar kraj */


/* ---------- ERROR STRANA ---------- */

#notfound {
    position: relative;
    height: 100vh;
}

#notfound .notfound {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.notfound {
    max-width: 520px;
    width: 100%;
    line-height: 1.4;
    text-align: center;
}

.notfound .notfound-404 {
    position: relative;
    height: 240px;
}

.notfound .notfound-404 h1 {
    font-family: 'Montserrat', sans-serif;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 252px;
    font-weight: 900;
    margin: 0px;
    color: #262626;
    text-transform: uppercase;
    letter-spacing: -40px;
    margin-left: -20px;
}

.notfound .notfound-404 h1>span {
    text-shadow: -8px 0px 0px #fff;
}

.notfound .notfound-404 h3 {
    font-family: 'Cabin', sans-serif;
    position: relative;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    color: #262626;
    margin: 0px;
    letter-spacing: 3px;
    padding-left: 6px;
}

.notfound h2 {
    font-family: 'Cabin', sans-serif;
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
    color: #000;
    margin-top: 0px;
    margin-bottom: 25px;
}

@media only screen and (max-width: 767px) {
    .notfound .notfound-404 {
        height: 200px;
    }
    .notfound .notfound-404 h1 {
        font-size: 200px;
    }
}

@media only screen and (max-width: 480px) {
    .notfound .notfound-404 {
        height: 162px;
    }
    .notfound .notfound-404 h1 {
        font-size: 162px;
        height: 150px;
        line-height: 162px;
    }
    .notfound h2 {
        font-size: 16px;
    }
}


/* ---------- KALKULATOR STRANA ---------- */


/* Slike na stranici kalkulator */

.bmr-uvod {
    margin-top: 5vh;
}

.bmr-uvod>center>h3 {
    font-size: 30px;
}

.bmr-uvod>p {
    margin-top: 1vh;
    margin-bottom: 5vh;
    font-size: 20px;
}

.bmr {
    margin: 10px;
    display: flex;
    height: 55vh;
}

.rezultat {
    font-size: 25px;
    text-align: center;
    font-weight: 600;
}

.bmr>.muški-bmr>.muška-forma>h4 {
    text-align: center;
    margin: 20px 0px 20px 0px;
}

.muški-bmr {
    flex: 1;
    text-align: center;
}

.muški-bmr>img {
    height: 50vh;
}

.muška-forma {
    text-align: justify;
    justify-content: space-around;
    width: 50%;
    display: inline-block;
}

.ženski-bmr {
    flex: 1;
    text-align: center;
}

.bmr>.ženski-bmr>.ženska-forma>h4 {
    text-align: center;
    margin: 20px 0px 20px 0px;
}

.ženski-bmr>img {
    height: 50vh;
}

.ženska-forma {
    text-align: justify;
    justify-content: space-around;
    width: 50%;
    display: inline-block;
}

.bmr>.muški-bmr,
.ženski-bmr {
    font-size: 20px;
}

.pol {
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    margin: 50px 0px 50px 0px;
}

.pol>div>h2 {
    margin: 0px 0px 50px 0px;
}

.btnPol {
    display: flex;
}

.btnPol>div {
    flex: 1;
}


/* forma za muškarca za BMR kalkulator */

input[name="muškoTežina"],
input[name="muškoVisina"],
input[name="muškoGodine"],
input[name="izračunaj"],
input[name="rezultat"],
input[name="resetuj"] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 18px;
}


/* forma za Ženu  */

input[name="ženskoTežina"],
input[name="ženskoVisina"],
input[name="ženskoGodine"],
input[name="izračunaj"],
input[name="rezultat"],
input[name="resetuj"],
.izračunaj {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 18px;
}


/* bmi kalkulator forma */

input[name="bmi-visina"],
input[name="bmi-težina"] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 18px;
}


/* dugmići u formi, i ostali dugmići */

input[type="reset"],
input[type="submit"],
button {
    border-radius: 8px;
    background-color: rgb(88, 204, 92);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

input[type="reset"]:hover,
input[type="submit"]:hover,
button:hover {
    background-color: green;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer;
}


/* bmi kalkulator */

.bmi {
    padding-top: 70px;
    text-align: center;
    margin-bottom: 50px;
}

.bmi>.forma-div>h2 {
    margin-bottom: 20px;
}

.bmi>img {
    width: 50%;
    margin-bottom: 20px;
}

.bmi-forma {
    text-align: justify;
    justify-content: space-around;
    width: 50%;
    display: inline-block;
}

.bmi-uvod {
    margin-top: 5vh;
}

.bmi-uvod>center>h3 {
    font-size: 30px;
}

.bmi-uvod>p {
    margin-top: 1vh;
    margin-bottom: 5vh;
    font-size: 20px;
}

.bmi-forma>p>label {
    font-size: 20px;
}


/* ---------- NAMIRNICE STRANICA ---------- */


/* tabela za ispis porizvoda sa svojim vrednostima */

.namirnice-uvod {
    text-align: center;
    align-items: center;
    padding: 30px;
}

table {
    border-spacing: 1;
    border-collapse: collapse;
    background: white;
    border-radius: 6px;
    overflow: hidden;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    position: relative;
    box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.2);
}

* {
    position: relative
}

td,
th {
    padding-left: 8px
}

thead tr {
    height: 60px;
    background: #26a73cda;
    font-size: 16px;
}

thead {
    border: 2px solid black;
}

tbody tr {
    height: 48px;
    border: 1px dotted rgb(0, 0, 0);
    text-align: center;
}

tbody {
    border: 2px solid black;
}

tbody td:first-child {
    text-align: left;
}

.namirnice-tabela {
    text-align: center;
}

.namirnice-tabela>input {
    padding: 10px;
    border: none;
    font-size: 20px;
    border: 1px solid;
}


/* forma za unos novog proizvoda */

.namirnice-unos-forma {
    font: 95% Arial, Helvetica, sans-serif;
    max-width: 1200px;
    margin: 10px auto;
    padding: 16px;
    background: #F7F7F7;
    text-align: center;
    margin-bottom: 50px;
    box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.2);
}

.namirnice-unos-forma .polja-unos {
    display: flex;
}

.namirnice-unos-forma h2 {
    background: #26a73b;
    padding: 20px 0;
    font-size: 140%;
    font-weight: 300;
    text-align: center;
    color: #fff;
    margin: -16px -16px 16px -16px;
}

.polje-unos {
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    background: #fff;
    margin-bottom: 2%;
    border: 1px solid #ccc;
    padding: 2%;
    color: #555;
    font: 95% Arial, Helvetica, sans-serif;
}

.polje-unos:focus {
    box-shadow: 0 0 5px #43D1AF;
    padding: 3%;
    border: 1px solid #43D1AF;
}

.namirnice-unos-forma input[type="submit"] {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 25%;
    padding: 2%;
    background: #26a73b;
    border-bottom: 2px solid #26a73b;
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;
    color: #fff;
}

.namirnice-unos-forma input[type="submit"]:hover {
    background: #26a73b;
}


/* ---------- DNEVNIK STRANICA ---------- */

#DnevnikGlavno {
    text-align: center;
}

.dodajObrok {
    font-size: 25px;
    padding: 10px;
    display: flex;
}

.card-content {
    padding: 30px 10px 0px 10px;
    margin-left: 10%;
    margin-right: 10%;
    border: 1px solid #b4b4b4;
    box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.09);
}

#meal-name,
#calorie-name {
    width: 80%;
    font-size: 25px;
    box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
    border-radius: 10px;
    border: none;
    padding: 15px;
    border-bottom: 1px solid #999999;
}

.obrok {
    margin-left: 10%;
    text-align: left;
    flex: auto;
}

.kalorije {
    text-align: left;
    flex: auto;
}

.dnevnikDugme {
    padding: 20px;
}

#addMeal,
#updateMeal,
#backBtn {
    font-size: 20px;
}

.collection {
    text-align: left;
    font-size: 30px;
    width: 80%;
    margin-left: 10%;
    list-style: none;
    padding: 10px;
    padding-bottom: 310px;
}

.collection>li {
    border: 1px solid #999999;
    padding: 10px;
}

.center-align {
    padding: 10px;
    font-size: 28px;
}